@import '../../styles/colors';

.container {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    background-color: white;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 2rem;

    h3,
    h4,
    p {
        margin-bottom: 0.5rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.3rem
    }

    p {
        font-size: 1.2rem;
    }
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
}