$background-primary-color: linear-gradient(70deg, rgba(208, 195, 214, 1) 0%, rgba(54, 177, 205, 1) 100%);
$background-secondary-color: hsla(0, 0, 0, 0.05);
$background-ternary-color: rgba(247, 245, 246, 0.8);
$background-alternative-color: rgb(243, 239, 22);

$link-color: rgb(214, 26, 51);
$link-color-hover: rgb(240, 33, 60);
$link-color2: rgb(68, 156, 28);
$link-color2-hover: rgb(64, 173, 13);
$link-hover: rgba(54, 177, 205, 1);